h1{
    font-size: 5rem;
    text-align: center;

}
p{
    font-size: 1.5rem;
    text-align: center;

}
.image{
    text-align: center;
    align-items: center;
}
.titre ul li{
   
    text-align: center;
    list-style: none;
    
    font-size: 2rem;


}
.sous-menu {

    font-size: 1.5rem;
    list-style: none;
    line-height: 1.4;
    
}
.sous-menu ul li{
    list-style: none;
}
.prix{
   
    list-style: none;
    line-height: 1.8;
    font-size: 1.2rem;
    
}
a{

    text-decoration: none;
}
i{
    font-size: 2rem;
}